#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  justify-content: space-between;
}


body {
  background: linear-gradient(to bottom right, #003366, #0059b3, #0080ff, #00aaff, #33ccff);
}
.myform {
  background-color:#0059b3;
  padding: 1rem;
  border-radius: 20px;
}